{% extends 'blog/base.html' %}
{% block content %}
    <h1>{{ user.username }}</h1>
    {% if user.age %}
        <h1>{{ user.age }} years old</h1>
    {% endif %}
    {% if user.email %}
        <h1>Email: {{ user.email }}</h1>
    {% endif %}
    <a href="{% url 'password_change' %}">Change password</a>
{% endblock content %}