{% extends 'blog/base.html' %}
{% block title %}Sign Up{% endblock title %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Sign Up</button>
    </form>
{% endblock content %}