<html>
    <head>
        <title>Django blog</title>
    </head>
    <body>
        <header>
            {% block title %}
            {% endblock title %}
            <div class="nav-left">
                <h1><a href="{% url 'blog:home' %}">Django blog</a></h1>
            </div>
            <div class="nav-right">
                <a href="{% url 'blog:post_new' %}">New Blog post</a>
            </div>
        </header>
        {% if user.is_authenticated %}
            <p>Hi, <a href="{% url 'accounts:profile' user.id %}">{{ user.username }}</a></p>
            <a href="{% url 'logout' %}">Log Out</a>
        {% else %}
            <p>You are not logged in</p>
            <a href="{% url 'login' %}">Log in</a>
            <a href="{% url 'accounts:signup' %}">Sign Up</a>
        {% endif %}
        <div>
            {% block content %}
            {% endblock content %}
        </div>
    </body>
</html>