{% extends 'blog/base.html' %}
{% block content %}
  <h1>Delete post</h1>
  <form action="{% url 'blog:post_delete' post.pk %}" method="post">
    {% csrf_token %}
    <p>Are you sure want delete "{{ post.title }}" ?</p>
    <input type="submit" value="Delete" />
  </form>
{% endblock content %}