{% extends 'blog/base.html' %}
{% block content %}
  <div class="post-entry">
    <h2>{{ post.title }}</h2>
    <p>{{ post.text }}</p>
  </div>
  <a href="{% url 'blog:post_edit' post.pk %}">Edit post</a>
  <a href="{% url 'blog:post_delete' post.pk %}">Delete post</a>
{% endblock content %}