{% extends 'blog/base.html' %}
{% block content %}
  <h1>Change password</h1>
  <p>Please enter you old and then 2 times a new password in this form</p>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Change password" />
  </form>
{% endblock content %}